/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  text-align: center;
}

img {
  width: 100px;
}

.hero {
  background-image: url("./images/torshov.jpg");
  background-size: cover;
  padding: 270px 0;
  text-align: center;
}

.hero h1 {
  background-color: #1d3557;
  width: 225px;
  margin: 0 auto;
  border-radius: 10px;
  color: #fff;
  padding: 5px 12px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}

.hero h2 {
  width: 415px;
  background-color: #457b9d;
  border-radius: 10px;
  margin: 20px auto;
  padding: 8px 10px;
  color: #fff;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 18.72px;
  line-height: 22px;
}
